@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	width: 5px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #353535;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
::-webkit-scrollbar-corner{
    background: #353535;
}
